.footer {
  background:black;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-logo-container img {
  max-width: 150px;
}

.footer-links {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.footer-section {
  text-align: left;
}

.footer-section h4 {
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(90deg, #ff8c00, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}




.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #f39c12;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  color: #f39c12;
  font-size: 24px;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #fff;
  transform: scale(1.2);
}

.footer-map iframe {
  width: 250px;
  height: 150px;
  border-radius: 10px;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #333;
}
